<table>
  <tr>
    <td>
      <h2>Flashlight Duty</h2>
    </td>
    <td id="td2">
      <header>
         <nav>
            <ul class="nav inline-items">
              <li>Score</li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
           </ul>
        </nav>
      </header>
    </td>
  </tr>
</table>



<div class="columnsContainer">

  <div class="leftColumn">
    <div class="container">
      <img class="masked" id="image" src="/../images/darkroom/paris.png"/>
    </div>
  </div>

  <div class="rightColumn">
    <div id="A">
      <div class="chat">
        <ul id="messages">
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>one</li>
          <li>two</li>
          <li>three</li>
        </ul>
      </div>
    </div>
    <div id="B">
      <div class="chat">
        <form action="">
          <input id="m" type="text" autocomplete="off" placeholder="enter guess here"/>
        </form>
      </div>
    </div>
    <div id="C">
      <form>
        <button>Send</button>
      </form>
    </div>
  </div>

</div>

<footer>
  <p><a href="#">Contact Us</a> | <a href="#">Source Code</a> | <a href="#">Privacy Policy</a></p>
  <p>&copy;2015 Flashlight Duty</p>
</footer>

