<!-- <h2>Flashlight Duty</h2>

  <header>
     <nav>
        <ul class="nav inline-items">
          <li>Score</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
       </ul>
    </nav>
  </header>

  <div class="leftColumn">
    <div class="container">
      <img class="masked" id="image" src="/../images/darkroom/paris.png"/>
    </div>
  </div>

  <div class="rightColumn">
    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
      </li>
    </ul>
  </div>

  <footer>
    <p><a href="#">Contact Us</a> | <a href="#">Source Code</a> | <a href="#">Privacy Policy</a></p>
    <p>&copy;2015 Flashlight Duty</p>
  </footer> -->



<table>
  <tr>
    <td>
      <h2>Flashlight Duty</h2>
    </td>
    <td id="td2">
      <header>
         <nav>
            <ul class="nav inline-items">
              <li>Score</li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
           </ul>
        </nav>
      </header>
    </td>
  </tr>
  <tr>
    <td>
        <div class="leftColumn">
          <div class="container">
            <img class="masked" id="image" src="/../images/darkroom/paris.png"/>
          </div>
        </div>
    </td>
    <td>
      <div class="rightColumn">
        <ul class="pages">
          <li class="chat page">
            <div class="chatArea">
              <ul class="messages"></ul>
            </div>
            <input class="inputMessage" placeholder="Type here..."/>
          </li>
        </ul>
      </div>
    </td>
  </td>
  <tr>
    <footer>
      <p><a href="#">Contact Us</a> | <a href="#">Source Code</a> | <a href="#">Privacy Policy</a></p>
      <p>&copy;2015 Flashlight Duty</p>
    </footer>
  </tr>
</table>








